<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title text-center>
        Qibla: {{ qiblahDirection }} &#8451;
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div *ngIf="!isDeviceHorizontal" class="notHorz">

  <p>Place your device on horizontal flat surface </p>

</div>


<ion-grid  *ngIf="isDeviceHorizontal">
  <ion-row >
    <ion-col text-center >
        <div class="circle">
            <div #arrow class="arrow">
               
              <ion-img src="../assets/arrow.svg"></ion-img>
        
            </div>
          </div>   
    </ion-col>
  </ion-row>




      <ion-row >
          <ion-col text-center >
        <p>CompassHeading : {{compassDirectionRounded}}</p>
          </ion-col>
        </ion-row>
  

</ion-grid>




</ion-content>
